/* -------------------- IMPORTED FONTS --------------------------------- */
@import url(https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap);

/*-------------------- CSS RESET ------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------- ROOT VARIABLES ---------------------------------- */
:root {
	font-family: "Habibi", serif;
    font-size: 1.25em;
    --green: #06A816;
    --orange: #E75D02;
    --black: #000000;
    --white: #ffffff;
}

/* --------------------GLOBAL STYLES (mobile first/small) ----------------*/

body {
	min-width: 428px;
}

h1 {
	font-size: 2.5em;
	color: #ffffff;
	text-align:center;
	text-shadow: 2px 1px #000000;
}

h2 {
	font-size: 1.75em;
}

h3{
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}

h3,text {
	font-size: 1.25em;
	text-align:center;
}

h1, h2, h3 {
	font-family: "Irish Grover";
}

p {
	font-family: Habibi;
}

p, h2 {
	margin:10px;
}

header {
	background-color: #06A816;
}

header p{
	color: #ffffff;
	font-style:italic;
	text-align:center;
	padding-bottom: 0.5rem;
}

nav{
	padding-top:1rem;
}

nav h2 {
	display: none;
}

nav li{
	list-style:none;
}

nav a{
	text-decoration:none;
	background-color: #E75D02;
	display:grid;
	text-align:center;
	color: #ffffff;
	margin:1rem 4rem;
	padding: 0.5rem 1rem;
}

#myBtn {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 10%;
    height: 5%;
	border-radius:10px;
    margin:17px;
    background:#E75D02;
}

main{
	display:grid;
	align-content: center;
}

figure {
	text-align: center;
}

figcaption{
	position:relative;
	bottom: 190px;
	color: #ffffff;
	background-color:  #000000;
	opacity: 60%;
	margin:1rem 8rem;
	padding: 0.5rem 1rem;
}

#fruits {
	grid-column-start:1;
	grid-column-end: 2;
}

#vegetables {
	grid-column-start: 1;
	grid-column-end: 2;
}

footer {
	background-color:  #06A816;
	display: grid;
	grid-template-rows: 1fr 1fr;
	text-align: center;
	color: #ffffff;
	padding-top: 1rem;
}

#contacts {
	grid-template-columns: 1fr 1fr 1fr;
}

#hours {
	grid-template-columns: 1fr 1fr 1fr;
}	

footer p{
	background-color: #ffffff;
	color: #06A816;
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (min-width:834px) {

	body{
		min-width: 834px;
	}

	header {
		display: flex;
		justify-content: space-between;
		padding: 0.5rem;
	}

	nav ul {
		display:grid;
		grid-template-columns: 1fr 1fr;
		text-align:center;
	}

	main {
		display:grid;
		grid-template-columns: 1fr 1fr;
	}

	#fruitsforsale {
		display: grid;
		grid-template-columns:1fr 1fr;
		grid-column-start: 2;
    	grid-column-end:2;
	}

	#vegsforsale {
		display: grid;
		grid-template-columns:1fr 1fr;
		grid-column-start: 2;
    	grid-column-end:2;
	}

	footer {
		background-color:  #06A816;
		display: grid;
		grid-template-columns: 1fr 1fr;
		text-align: center;
		color: #ffffff;
		padding-top: 1rem;
	}

	footer p{
		display: flex;
		background-color: #ffffff;
		color: #06A816;
		margin: auto;
	}
}



/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (min-width:1280px) {

	body{
		min-width: 1280px;
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	header {
		display:grid;
	}

	nav {
		display:grid;
		grid-template-columns:1fr 1fr;
		grid-column-start:2;
		grid-column-end:3;
		background-color:#06A816;
	}


	main {
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	#fruitsforsale {
		display: grid;
		grid-template-columns:1fr 1fr 1fr;
		grid-column-start: 2;
    	grid-column-end:2;
	}

	#vegsforsale {
		display: grid;
		grid-template-columns:1fr 1fr 1fr;
		grid-column-start: 2;
    	grid-column-end:2;
	}

	footer {
		display:grid;
		grid-column-start:1;
		grid-column-end:3;
	}

}

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media screen and (min-width:1440px){

	body{
		min-width: 1440px;
	}

	nav {
		display:grid;
		grid-template-columns:1fr 1fr;
		grid-column-start:2;
		grid-column-end:3;
		background-color:#06A816;
	}

	main {
		display:grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	#fruitsforsale {
		display: grid;
		grid-template-columns:1fr 1fr 1fr 1fr;
		grid-column-start: 2;
    	grid-column-end:2;
	}

	#vegsforsale {
		display: grid;
		grid-template-columns:1fr 1fr 1fr 1fr;
		grid-column-start: 2;
    	grid-column-end:2;
	}
}